body,
html {
  height: 100%;
  margin: 0;
}

img {
  width: 250px;
  height: auto;
}

form {
  width: 100%;
}

.email-field,
.password-field,
.signin-btn {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2.5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #81ffd9;
  outline: none;
}

input[type="email"],
input[type="password"] {
  background-color: #a1c5e4;
  padding: 10px 10px 10px 35px;
  color: #072946;
  font-size: 14px;
}

::placeholder {
  color: #072946;
}

input[type="submit"] {
  background-color: #81ffd9;
  color: #072946;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: #47b896;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #072946;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.sign-up {
  text-align: center;
  margin-top: 15px;
  font-size: 13.5px;
}

.sign-up a:hover {
  color: #47b896;
}

.forgot {
  text-align: center;
  margin-top: 20px;
  font-size: 13.5px;
}

.forgot a:hover {
  color: #47b896;
}

.back-to-login {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #47b896;
}

.back-to-login a:hover,
.back-to-login i:hover {
  color: #81ffd9;
}

.back-to-login i,
.back-to-login a {
  color: #47b896;
}