input[type="date"]::-webkit-calendar-picker-indicator,
 input[type="time"]::-webkit-calendar-picker-indicator {
     display: none;
 }

 input[type="date"],
 input[type="time"] {
     appearance: none;
     -webkit-appearance: none;
     background: transparent;
     padding: 10px;
     outline: none;
     width: 100%;
     text-align: center;
     border: 0.2px solid #ccc;
     border-radius: 4px;
     cursor: pointer;
 }

 .bx {
     cursor: pointer;
     transition: color 0.3s ease;
 }

 .bx:hover {
     color: #71e0bf;
 }

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
