form {
  width: 100%;
}

.email-field,
.password-field,
.signin-btn {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2.5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #29a8dc;
  outline: none;
}

input[type="email"],
input[type="password"] {
  background-color: #a1c5e4;
  padding: 10px 10px 10px 35px;
  color: #072946;
  font-size: 14px;
}

button[type="submit"] {
  background-color: #29a8dc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #2a8fb7;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #072946;
}

.submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29a8dc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.submit.loading .button-text {
  display: none;
}

.submit.loading .spinner {
  display: inline-block !important;
}

.spinner {
  font-size: 16px;
  color: white;
  display: none;
}

#error-message {
  color: red;
  text-align: center;
  z-index: 1;
}

/* Error Message */
.error-text {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: #dc3545;
}

/* Submit Button Spinner */
.submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit.spinner-active .button-text {
  visibility: hidden;
}
.submit.spinner-active .spinner {
  display: inline-block;
}
.submit .spinner {
  display: none;
  position: absolute;
}
.submit .spinner i {
  font-size: 16px;
}

::selection {
  background-color: #29a8dc;
  color: #ffffff;
}

::placeholder {
  color: #072946;
}