@font-face {
  font-family: "AfacadFlux";
  src: url("/fonts/AfacadFlux-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body,
html {
  font-family: "AfacadFlux", sans-serif;
  font-weight: 400;
  background-color: #e6e9f4;
  height: 100%;
  margin: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  width: 300px;
  padding: 20px;
  /* background: linear-gradient(
    #072946 0%,
    #072946 40%,
    #0e2b58 60%,
    #0e2b58 70%,
    #182c6a 100%
  ); */
  background-color: #f5f7ff;
  border-right: 1px solid var(--gray-medium);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 80;
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  padding-bottom: 25px;
}

.container::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  background: rgba(238, 233, 11, 0.7);
  border-radius: 50%;
  bottom: -200px;
  left: -200px;
  pointer-events: none;
}

.logo {
  width: 180px;
  margin-bottom: 18px;
}
