:root {
    --primary-color: #71e0bf;
    --primary-light: #144b7b;
    --primary-cyan: #81ffd9;
    --primary-dark: #0f2a65;
    --secondary-color: #3b3f5c;
    --gray-light: #f5f7ff;
    --gray-medium: #e6e9f4;
    --gray-dark: #828795;
    --danger: #f36c6c;
    --success: #2dbf78;
    --white: #ffffff;
    --text-primary: #0f2a65;
    --text-secondary: #6c7380;
    --card-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    --sidebar-width: 280px;
    --header-height: 80px;
    --border-radius: 9px;
    --dark-blue: #072946;
    --bluie: #262a39;
}

.docente-card {
    background-color: var(--dark-blue);
    border-radius: var(--border-radius);
    padding: 25px;
    box-shadow: var(--card-shadow);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.docente-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.docente-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 0;
    background: var(--primary-color);
    transition: height 0.3s ease;
}

.docente-card:hover::before {
    height: 100%;
}

.contact-btn {
    transition: all 0.2s ease;
}

.contact-btn:hover {
    transform: scale(1.05);
}

.main-content {
    padding: 40px;
}